<div class="container">
  <h1>Lista de chamados</h1>
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. chamado"
        #input
      />
    </mat-form-field>

    <mat-radio-group color="primary">
      <mat-radio-button (click)="orderByStatus(0)" value="0">Aberto</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(1)" value="1">Andamento</mat-radio-button>
      <mat-radio-button (click)="orderByStatus(2)" value="2">Encerrado</mat-radio-button>
    </mat-radio-group>

    <table mat-table matSort [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeCliente }}</td>
      </ng-container>

      <ng-container matColumnDef="tecnico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tecnico</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeTecnico }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="dataAbertura">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Abertura</th>
        <td mat-cell *matCellDef="let element">{{ element.dataAbertura }}</td>
      </ng-container>

      <ng-container matColumnDef="prioridades">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prioridade</th>
        <td mat-cell *matCellDef="let element">{{ returnPrioridade(element.prioridades) }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ returnStatus(element.status) }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="update/{{element.id}}">
            <i class="material-icons edit">edit</i>
          </a>
          <a routerLink="view/{{element.id}}">
            <i class="material-icons visibility">visibility</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
  <button
    class="mat-elevation-z8"
    mat-stroked-button
    color="primary"
    routerLink="create"
  >
    Novo chamado
  </button>
</div>
