.container{
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

h1{
  text-align: center;
  margin-bottom: 2rem;
  font-style: italic;
  letter-spacing: 2px
}

table {
  width: 100%;
}

mat-form-field{
  width: 100%;
}

button {
  width: 25%;
  margin-top: 2.5rem;
  float: right;
  border-radius: 2rem;
}

button:hover{
  background-color: rgba(143,0,255,1);
  color: #FFF;
  font-weight: bold;
}

.edit {
  color:  rgba(143,0,255,1);
}

.edit:hover{
  opacity: 0.6;
}

.visibility{
  color:  rgb(231, 75, 75);
}

.visibility:hover{
  opacity: 0.8;
}

mat-radio-group{
  display: flex;
  margin-bottom: 1rem;
  float: right;  
}

mat-radio-button{
  margin-left: 2rem;
}

mat-radio-button:last-child{
  margin-right: 2rem;
}


