.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(9deg, rgba(2,0,36,1) 0%, rgba(143,0,255,1) 62%);
}

.form{
  width: 30rem;
  margin: auto;
  background-color: rgb(235, 235, 235);
  padding: 4rem 1rem;
  border-radius: 1.5rem;
}

h1{
  width: 100%;
  text-align: center;
}

img{
  height: 15rem;
  width: 100%;
  margin: 1.5rem auto 1.5rem auto;
}

.full-width{
  width: 100%;
}

button{
  margin-top: 1.5rem;
  border-radius: 10px;
  background: rgba(143,0,255,1);
}

button:hover{
  background: rgba(143,0,255,0.8);
}

.icon{
  color: white;
}

span{
  color: white;
  font-weight: bold;
}

.text{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-right: 4px solid black;
  font-size: 180%;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: .15em;
  color: #FFF;
  opacity: 0.9;
}

.animation{
animation: typewriter 3.5s steps(40, end),
           blinkCursor .75s step-end infinite;
}

@keyframes typewriter {
from {
  width: 0;
}
to {
  width: 176px;
}
}

@keyframes blinkCursor{
  from, to { border-color: transparent }
  50% { border-color: #FFF; }
}