<div class="container">
  <form class="form mat-elevation-z8">
    <h1>HelpDesk - Login</h1>
    <img src="../../../assets/img/login-image.svg" alt="Imagem login" />
    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput placeholder="Ex. exemple@mail.com" />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input [formControl]="senha" required [(ngModel)]="creds.senha"  name="senha" type="password" matInput placeholder="Ex. 1234" />
    </mat-form-field>
    <button [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <span>Login</span>
    </button>
  </form>
</div>
