.container {
  width: 35rem;
  margin: auto;
  padding: 1rem;
  border-radius: .6rem;
}

.full-width{
  width: 100%;
}

h1{
  text-align: center;
}

img{
  height: 12rem;
  margin: auto;
}

mat-divider{
  margin-bottom: 1rem;
}

.section{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  margin-bottom: .5rem;
}

button{
  margin-top: .5rem;
  border-radius: 2rem;
}

mat-icon{
  opacity: 0.7;
}